*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


.App {
  text-align: center;
  background-color: rgb(226, 233, 226);
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 30px;

  height: 500px;
}
img{
 width: 200px;
}
.cont{
  height: 100vh;
  background: linear-gradient(to right,rgb(157, 231, 157),rgb(135, 135, 218));
  display: flex;
  align-items: center;
  justify-content: center;
}

.inp{
  height: 40px;
  width: 280px;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 20px;
  outline: none;
  opacity: .8;
}
button{
  height: 40px;
  width: 80px;
  border: none; 
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
button:hover{
  opacity: .8;
  background-color: blue;
  color: white;
}
button:active{
    transition: .5s;
    transform: scale(1.01);
    color: white;
    background-color: blue;
}
.out{
  /* background-color: red; */
  padding: 40px;
  margin: auto;
  margin-top: 30px;
}
h2{
  margin-bottom: 30px;
  color: rgb(92, 92, 245);
}